<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EX05</title>
</head>
<body>
    <h1>EX05</h1>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
        </tr>
        <!--타임리프 문법 : 자식요소에서 같은 객체를 접근하기 싫을때 부모요소에 붙여서 쓴다. -->
        <!--부모요소에 th:object를 설정한 뒤 자식요소에서 *{}필드로 접근할 수 있다.-->
        <tr th:object="${exampleVO}">
            <td th:text="*{name}"></td>
            <td th:text="*{age}"></td>
<!--            <td th:text="${exampleVO.name}"></td>-->
<!--            <td th:text="${exampleVO.age}"></td>-->
        </tr>


    </table>
</body>
</html>