<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 id ="" name ="" class=""></h2>
    <h1 id ="header_1">HEADER-1 </h1 >
    <div >
        <h1 id = "header_2">HEADER-2</h1 >
    </div >
    <hr >
    <h1 id = "clock"></h1>

</body>
<script>
    let title = document.querySelector("h1");
    let divs = document.querySelector("div");
    let h1s = document.querySelectorAll("h1");
    console.log(title)
    console.log(divs)
    console.log(h1s)

</script>
</html>